<h1>WORKOUTS</h1>

<% @workouts.each do |workout| %>
<%= workout.name %>
<% end %>
<div class="banner">
  <h1>WORKOUTS</h1>
  <h1>WORKOUTS</h1>
  <h1>WORKOUTS</h1>
  <h1>WORKOUTS</h1>
  <h1>WORKOUTS</h1>
  <h1>WORKOUTS</h1>
  <h1>WORKOUTS</h1>
  <h1>WORKOUTS</h1>

</div>
