<div class="banner-workout-index nav-fix">
  <div class="container">
    <div class="banner-text">
			<h1>Workouts</h1>
			<p>Embark on a new adventure with us</p>
    </div>
	</div>
</div>

<div class="container py-3">


  <%# <div class="map-text"> %>
    <h1 class="my-5">Badminton workouts in Tokyo:</h1>

    <div class="search-results mt-3">
      <div class="cards">
      <% @workouts.each do |workout| %>
          <%= render 'index-card', workout: workout %>
      <% end %>
      </div>

      <div class="sidebar ml-5">
        <div class="search-change rounded p-3">
          <h2>New search:</h2>
          <%= render "shared/search" %>
        </div>

        <%= render "shared/map", style: "width: 100%; height: 600px;", class_name: "map-index" %>
      </div>
  </div>
</div>


