<div class="banner-workout-index nav-fix">
  <div class="container">
    <div class="banner-text">
			<h1>Workouts</h1>
			<%# <p>Embark on a new adventure with us</p> %>
			<p>Move your body with us!</p>
    </div>
	</div>
</div>

<div class="container py-3">


  <%# <div class="map-text"> %>
    <div class="my-5"><h1 style="text-shadow: 1px 1px 3px rgba(0,0,0, 20%);;">Workouts in your area...</h1></div>

    <div class="search-results mt-3">
      <div class="cards">
        <% @workouts.each do |workout| %>
            <%= render 'index-card', workout: workout %>
        <% end %>
      </div>

      <div class="sidebar-index ml-5">
        <div class="search-change rounded p-3">
          <h2>New search:</h2>
          <%= render "shared/search" %>
        </div>
        <div class="map-position">
          <%= render "shared/map", styling: "width: 100%; height: 450px;", class_name: "map-index" %>
        </div>
      </div>
  </div>
</div>
<%= render "shared/footer" %>
