.dashboard-booking-manager {
  padding: 16px 0 0 16px;
  margin-left: 30px;
  flex-grow: 1;
}

.nav-col {
  max-width: 20vw;
}

.dashboard-div {
  display: flex;
}

.dashboard-btn-decline {
  background: #9b092b;
  color: white;
}
