<div class="footer">
  <div class="footer-copyright">
    © 2021 Kyoro, Inc.</i>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <%# <a href="#"><i class="fab fa-facebook-f"></i></a> %>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
