<div class="search container" id = "search-form">
  <%= form_tag workouts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "round",
      placeholder: "Search by location or activity..."
    %>
    <%= submit_tag "", class: "corner" %>
  <% end %>
</div>
