<div class="banner-container nav-fix" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://quoox.com/wp-content/uploads/2020/05/Manage-your-outdoor-group-training.jpg);">
  <div class="container home-search">
      <div class = "d-flex justify-content-center position-relative">
        <h1 class="home-text">Find the best <strong>workouts</strong> near you!</h1>
      <div class="search-box">
         <%= render "shared/search" %>
      </div>
    </div>
  </div>
</div>


