.banner-workout-index {
  height: 60vh;
  background-color: rgb(240, 240, 240);
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1569186273859-0a3cf0a68568?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2818&q=80);
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  margin-left: 40px;
  text-shadow: 1px 1px 3px rgba(0,0,0, 20%);
}

.banner-workout-index h1 {
  font-size: 64px;
  // margin-bottom: 8px;
}

.banner-workout-index p {
  font-size: 24px;
  // margin-bottom: 32px;
}

@media (min-width: 360px) {
  .banner-workout-index h1 {
    font-size: 72px;
  }
}
