.navbar {
  padding: 0 8px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 10;
  // .show {
  //   background-color: rgba(0,0,0,.8);
  // }
  // a {
  //   text-shadow: 1px 1px 3px rgba(0,0,0, 20%);
  // }
}

.nav-item {
  // font-weight: bolder;
  font-size: 22px;
}

.navbar-lewagon {
  justify-content: space-between;
  // background-color: transparent;
  background-color: white;
  transition: 0.5s background-color ease;
}

// .navbar-lewagon-dark {
//   background-color: rgba(0,0,0,.8);
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: 40px;
  padding: 0 8px;
  margin: 0;
  color: rgba(0,0,0,0.2);
  // color: #00b862;
  display: flex;
  align-items: center;
  p {
    margin-left: 8px;
  }
}

.navbar-toggler {
  margin: 0 8px;
}

