.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search-box {
  justify-content: center;
  width: 700px;
  padding: 8px;
  position: absolute;
  top: 80px;
  border-radius: 12 px;
}

.search-bow :first-child {
  border-radius: 20px;
}

.search-change {
  max-width: 500px;
  margin: 0 auto;
  background-color: #e1e5ea;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}


.round {
    width: 100%;
    border-radius: 15px;
    border: 1px grey solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background-image: url("https://quoox.com/wp-content/uploads/2020/05/Manage-your-outdoor-group-training.jpg");
    background-repeat: no-repeat;
}

.search {
    position: relative;
    width: 75%;
    height: 30px;
    color: $green;
    opacity: .8;
}
