// .countainer {
//   display: inline-block;
// }
.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.workout-discription {
  width: 80%;
  margin: 16px
}

.form {
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  display: block;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.workout-bg-img {
  height: 400px;
  width: 100vw;
}

.show-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 40vh;
}

.show-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
}

.show-banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 4px;
  display: block;
}

.background-image {
  background-size: cover;
}

#override {
  background-color:#e1e5ea !important;
}

.trainer-card > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

