// .countainer {
//   display: inline-block;
// }
.avatar-large {
  width: 56px;
  border-radius: 50%;
  margin: 10px;
}

.trainer-avatar {
  margin-left: 16px;
  margin-top: 16px;
  // align-content: center;
}

.workout-discription {
  width: 80%;
}

// .form {
//   margin: 0 auto;
//   background-color: white;
//   padding: 20px;
//   border-radius: 4px;
//   display: block;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

.book-card {
  height: 300px;
  position: sticky;
  top: 80px;
}

.workout-bg-img {
  height: 400px;
  width: 100vw;
}

.show-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 40vh;
}

.show-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0, 20%);
  font-size: 45px;
  font-weight: bold;
}

.show-banner p {
  font-size: 30px;
  color: white;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0, 20%);
  padding: 5px;
  border-radius: 4px;
  display: block;
}

.background-image {
  background-size: cover;
}

#override {
  background-color:#e1e5ea !important;
}

.workout-text-info {
  background-color: white;
  // padding: 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.trainer-card {
  display: flex;
  // align-content: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  background-color:#e1e5ea;
  // padding: 3px;
}

.trainer-card > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

