// .countainer {
//   display: inline-block;
// }

.workout-discription {
  width: 50%;
}

.form {
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  display: block;
}

.background-image {
  background-size: cover;
}
