

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    // width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #068948;
    color: #fff;
    transition: all 0.3s;
    height: calc(100vh - 60px);
    position: sticky;
    top: 60px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #068948;
    h3 {
      margin: 0;
      font-size: 30px;
    }
}

#sidebar .sidebar-ul.components {
    padding: 0;
    border-bottom: none;
}

#sidebar .sidebar-ul .sidebar-p {
    color: #fff;
    padding: 10px;
}

#sidebar .sidebar-ul .sidebar-li .sidebar-a {
    padding: 10px;
    font-size: 16px;
    display: block;
}

#sidebar .sidebar-a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
}

#sidebar .sidebar-ul .sidebar-li .sidebar-a:hover {
  color: #068948;
  background: #fff;
}

#sidebar .sidebar-ul .sidebar-li.active>a,
.sidebar-a[aria-expanded="true"] {
  color: #fff;
  background: #068948;
}

.sidebar-a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar-ul .sidebar-a {
  padding-left: 20px !important;
  background: #068948;
  border-top: 1px solid #04aa5a
}

.sidebar-ul .nested {
  font-size: 14px !important;
}

.sidebar-a,
.sidebar-a:hover,
.sidebar-a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar-ul.CTAs {
    padding: 20px;
}

.sidebar-ul.CTAs .sidebar-a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

