.search-results {
  display: flex;
  justify-content: space-between;
  // justify-content: center;
}

.sidebar-index {
  // width: 200px;
  flex-grow: 1;
}

.change-search {
  height: 150px;
  width: 100%;
}

.search-change {
  position: sticky;
  top: 80px;
  width: 100%;
  padding: 16px;
}

.map-position {
  position: sticky;
  top: 210px;
}

.map {
  margin-top: 24px;
  height: 300px;
  width: 200px;
  background-color: aquamarine;
}
